<p>create-account works!</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input formControlName="nom" class="form-control" type="text"  placeholder="nom ..." aria-label="name" required>
    <input formControlName="prenom" class="form-control" type="text"  placeholder="prénom ..." aria-label="lastname" required>
    <input formControlName="email" class="form-control" type="email"  placeholder="email ..." aria-label="email" required>
    <input formControlName="password" class="form-control" type="password"  placeholder="password ..." aria-label="password" required>

    <button [disabled]="form.invalid" class="btn" type="submit" >m'inscrire</button>

</form>