<div class="container"></div>
<a [routerLink]="['']">retour</a>

<div *ngIf="loading" class="loading">
    <p class="text-loading">Chargement du produit ...</p>
    <div class="spinner-border text-warning" role="status"></div>
</div>

<div *ngIf="!loading">

    <div class="card">

        <img src="../../../assets/{{product._name}}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{product._name}}</h5>
        <p class="card-text">{{product._price}} € / kg</p>
        <p class="card-text">{{product._description}}</p>
        <a [routerLink]="" class="btn btn-primary" (click)="add()">ajout au panier</a>
        </div>

    </div>

    <!-- Toast element -->
    <div #toast class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
        <div class="toast-header">
            <strong class="me-auto">{{displayedSelectedProductName}} {{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <a class="back" [routerLink]="['../../client/cart']">accéder au panier</a>
        </div>
    </div>

</div>