<h2>panier</h2>
<a [routerLink]="['']">retour</a>

<table class="table">

  <thead>
    <tr>
      <th scope="col">produit</th>
      <th scope="col">label</th>
      <th scope="col">quantité au kg</th>
      <th scope="col">prix unitaire</th>
      <th scope="col">prix quantité</th>
      <th scope="col">retirer</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let pr of products">
      <th scope="row">
        <img src="../../../assets/{{pr._name}}.jpg" class="card-img-top" alt="...">
      </th>
      <td>{{pr._name}}</td>
      <td>{{pr._quantity}}</td>
      <td>{{pr._price}} €</td>
      <td>{{pr._quantity * pr._price!}} €</td>
      <td>x</td>
    </tr>
    
  </tbody>

  <h3>Prix total : {{getTotalSum() | number: '1.2-2'}} €</h3>
    
</table>