<header>

    <div class="nav-content">

        <a class="title" routerLink=""><h1>my e_commerce</h1></a>

        <ul class="nav">
            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="../client/cart">panier</a>
            </li>
            <div class="badge" [ngClass]="{ 'badgeNumber': isAdded }">{{badge}}</div>
            <div *ngIf="email != null && email != undefined; else notLogged">
                <li class="nav-item">
                    <div class="email">Bonjour {{email}} !</div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
                </li>
            </div>

            <ng-template #notLogged>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="create-account">Inscription</a>
                </li>
            </ng-template>
            

        </ul>

    </div>
        
</header>
