<header>

    <div class="nav-content">

        <a class="title" routerLink=""><h1>my e_commerce</h1></a>

        <ul class="nav">
            <li class="nav-item">
                <div>{{badge}}</div>
                <a class="nav-link active" aria-current="page" routerLink="../client/cart">panier(dev)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="login">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="create-account">Inscription</a>
            </li>

        </ul>

    </div>
        
</header>
